* {
  box-sizing: border-box;
}
html, body, #root {
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: #63ad8c;
  height:100%;
}
#app-wrapper{
  height:100%;
  display:flex;
  flex-direction: column;
}
#app-container{
  margin-bottom:1.5rem;
  min-height:82%;
  /* height:fit-content; */
  width:100%;
}
.editor-container-horizontal{
  width: 80%;
  height: 25vh;
  min-width: 300px;
  border: 1px solid grey;
  margin: 2rem auto 0.25rem;
  box-shadow: 0 0 10px navy;
}
.preview-container-horizontal{
  width: 90%;
  height:auto;
  min-width: 300px;
  border: 1px solid grey;
  margin: 1.5rem auto 0.75rem;
  box-shadow: 0 0 10px navy;
}
.minimize{
  display:none;
}
.maximize{
  height:100% !important;
  width:93% !important;
  margin:2.75 auto;
}
.appContainer-vertical{
  display:flex;
  flex-direction: row;
  margin: 0 auto .5rem;
}
.appContainer-horizontal{
  /* height:fit-content; */
  margin: 0 auto .5rem;
  height:fit-content;
}
.editor-container-vertical{
  width: 40%;
  min-width: 100px;
  height:100%;
  border: 1px solid grey;
  margin: 1.75rem auto .75rem 2.75rem;
  box-shadow: 0 0 10px navy;
}
.preview-container-vertical{
  width: 50%;
  min-width: 150px;
  height:100%;
  border: 1px solid grey;
  margin: 1.75rem 2.75rem .75rem auto;
  box-shadow: 0 0 10px navy;
}
.header {
  width: 100%;
  height: 2rem;
  background-color: #1d8348;
  padding: 0;
  display: flex;
  justify-content:space-between;

}
.action-icon-button{
  background-color: unset;
  border:none;
  transition: all .75s ease-in-out;
}
.action-icon-button:hover{
  transform: scale(1.2);
  color:#63ad8c
}
.header-icon{
  font-size:1.25rem;
}

.header h3 {
  margin: 0;
  padding: 0.35rem 0.75rem;
  background-color: #1d8348;
  font-family: "Marker Felt";
}
#editor-text-container{
  height:calc(100% - 2rem);
  background-color: #c4e0d4;
}
#preview-text-container{
  height:calc(100% - 2rem);
  overflow: scroll;
  background-color: #c4e0d4;
}
#editor {
  box-sizing:border-box;
  width: 100%;
  height:100%;
  padding: 0.35rem;
  background-color: #c4e0d4;
  resize: none;
}
#preview {
  box-sizing:border-box;
  width: 100%;
  /* height:100%; */
  padding: 0.35rem;
  background-color: #c4e0d4;
  min-height: 200px;
}
#dev-info {
  font-family: "Marker Felt";
  width: 100%;
  min-width: 15rem;
  text-align: center;
  color: white;
  margin:1rem auto 0;
}
#dev-info p {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
  font-weight: 100;
}
#line {
  width: 75%;
  margin: .15rem auto;
  border-bottom: 1px solid white;
}
#icons {
  margin: 0.25rem auto 0.75rem;
}
.icon-anchor {
  padding: 0;
  margin-left: 0.85rem;
  font-size: 1.45rem;
  color: white;
}
.icon-anchor:hover {
  color: grey;
  transform: scale(1.5);
  transition: transform 0.5s ease-in-out;
}
#options{
  position:fixed;
  top:.15rem;
  right:.15rem;
  display:flex;
  flex-direction:column;
}
#options .layoutButton{
  background-color:#c4e0d4;
  font-size:1.25rem;
}

